/*Navigation bar*/
.text-align-center {
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin: 1%;
    text-align: center;
}

/* Main content*/
body {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: 'Playfair Display', serif;
    padding-top: 4%x;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.display-flex {
  display: flex;  
}

.row {
    flex-direction: row;
}

.main-content {

    width: 80%;
    background-color:orange;
    padding-top: 5rem;
    padding-bottom: 5rem;
    flex-wrap: wrap;
}

article {
    width: 25%;
    background: pink;
    padding: 2%; 
    margin: 1rem; 
}

img {
    width: 100%;
}

/*Sidebar*/

.google-font {
    font-family: 'Dancing Script', cursive;
    font-size: large;
    text-align: center;
}
.sidebar {
    display: flex;
    width: 20%;
    background-color: burlywood;
}

/*footer*/

footer {
    margin: 6% 0 2% 0;
    text-align: center;
}

/* Media queries*/
@media (max-width: 600px) {
    .wrapper {
        flex-direction: column-reverse;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .sidebar {
        width: 100%;
        }
}

@media (max-width: 600px) {
    .main-content {
        width: 100%;
    }
}

@media (max-width: 600px) {
   .articles {
    flex-direction: column;
    margin-bottom: 2rem;
    width: 60%;
    padding: 6%;
    } 
}











